<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>Please click on Confirm to confirm your email id and apply for the job</p>
    
  </body>
</html>
