
<div class="comment_div">
  <p class="comment_commenter"><%= comment.user_id %>:</p>
  <p class="comment_text"><%= comment.comment %></p>
  <p class="comment_created_time"><%= comment.created_at %></p>  
</div>