<div class="applicant" id="applicant_<%= applicant.id %>">
  <div class="applicant_card" data-target="#show_applicant_details_<%= applicant.id %>">
    <div class="applicant_card_name">
      <p class="applicant_name"><%= applicant.name %></p>
    </div>
  </div>
  <%= link_to "Show_details", company_job_applicant_path(@company, @job, applicant), id: "show_applicant_details_#{applicant.id}", class: "hidden", remote: true %>                
</div>