<div> 
  <h2><%= @job.title %></h2>
  <h4><%= @job.description %></h4>
  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="width:100px">
  <button class="btn btn-primary">Apply to this job</button>
</div>