<h1>Hello Employer</h1>

<div class="job-card col-md-3">
  <%= link_to('', jobs_new_path, :method => :get, class: "glyphicon glyphicon-plus") %>
</div>

<li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>