<h1>Hello Employer</h1>

<% @jobs.each do |c| %>
<div class="job-card col-md-3">
  <%= link_to new_job_path, :method => :get do %>
  <span class="glyphicon glyphicon-plus">My span</span>
  <% end %>

  <%= link_to user_path(c) do %>
  <div id="job_card">
    <p class="job_title"><%= c.title %></p><br>
  </div>
  <% end %>

</div>
<% end %>

<li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>