    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

          <%= render partial: 'jobs/form' %>



          <div id="questions">
          <div id="questions_list">
            <%= render @job.questions %>
          </div>
            <%= link_to "Add a question", new_job_question_path(@job), remote:true, class: "btn btn-primary", id: "add_question" %>
          </div>
        </div>
      </div>
    </div>

    
