    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

          <%= form_for(:job, url: jobs_path ) do |f| %>

          <div class="field input-group">
            <%= f.text_field :title, autofocus: true, class: "form-control input_box", placeholder: "Title" %>
          </div>

          <div class="field input-group">
            <%= f.text_area :description, class: "form-control input_box", placeholder: "Description" %>
          </div>

          <div class="actions input-group">
            <%= f.submit "Create Job", class: "btn btn-danger", id: "create_job_btn" %>
          </div>

          <% end %>

        </div>
      </div>
    </div>

    
