<div class="container-fluid" id ="all_jobs_page">
  <div class="container" id="jobs_container">
    <div class="row" id ="jobs_div">
      
      <h1><%= @job.title %></h1>      
    </div>
  </div>
</div>  