
<script>
  $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
</script>


<div class="container-fluid" id ="job_dashboard_page">
  
  <div class="container-fluid">
    <div class="row" id ="jobs_div">      
      <h4 id="job_dashboard_title"><%= @job.title %></h4>     
      <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#remove_job_myModal"> Remove job </button>      
    </div>
    <div class="row" id="job_dashboard_column_container">      
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_1">
        <div class="job_dashboard_column">
          <h5> Applied </h5>
          <div class="applicant_card">
            <%= link_to new_company_job_applicant_path(current_company, @job), id: "add_applicant_link" do %>
              <div class="applicant_add">
                <p id="add_applicant"><i class="fa fa-plus-square-o" id = "plus"></i>Add Applicant</p>
              </div>
            <% end %>
          </div>
          
          <div class="dashboard_column_list">
            <ul id="sortable">
              <%= render @applicants %>
            </ul>
          </div>             
        </div>
      </div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_2"><div class="job_dashboard_column"><h5> Shortlisted </h5></div></div>
      <div class="col-md-4 job_dashboard_column_holder" id="job_dashboard_column_3"><div class="job_dashboard_column"><h5> Screening </h5></div></div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_4"><div class="job_dashboard_column"><h5> Pre-hire shortlist </h5></div></div>
      <div class="col-md-2 job_dashboard_column_holder" id="job_dashboard_column_5"><div class="job_dashboard_column"><h5> Offered</h5></div></div>      
    </div>  
  </div>  
</div>  

<div class="modal fade" id="remove_job_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="remove_job_modal_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">cancel</span></button>
          <%= link_to "OK", company_job_path(current_company, @job), method: :delete, class: "btn btn-danger pull-right" %>
      </div>
    </div>
  </div>
</div>




