 /*Landing page - sign up and login*/



#landing_page {

  #header_section {
    #logo_box {
      height: 140px;
      padding-top: 20px;
      text-align: center;
      
      #logo_icon {
        color: #ff0000;
        font-size: 3.5em;
        margin-top: 0px;
      }

      #name {
        font-size: 3.5em;
        font-family: 'Poiret One';
        font-weight: bold;
      }
    }
  }  

  #caption_section {
    #main_caption {
      text-align: center;
      font-family: Lato;
      font-size: 1.2em;
      font-style: italic;      
    

      #caption_text {
        border-top: 1px solid #ff0000;
        border-bottom: 1px solid #ff0000;

        #red_marking {
          color: #ff0000;
        }
      } 
    }   
  }

     
  #body_section {

    margin-top: 10px;
    #lp_explainer_section {
      height: 190px;
      .explainer_box_container {
        height: 160px;
        margin-top: 5px;
        .explainer_boxes {
          background-color: #FFFFFF;
          height: 160px;
          text-align: center;
          padding: 5px;
          border: 1px solid #e3e3e3;
          box-shadow: 0px 0px 3px #b1b1b1;

          .icons {
            color: #FF5353;
            display: inline-block;
            font-size: 4em;
          }

          .icon_support_text {
            color: #000;
            font-family: Lato;
            font-size: 1.2em;
          }
        }
      }
    }


    #sign_up_box {

      background-color: #FFFFFF;
      height: 334px;
      text-align: center;
      padding: 10px;
      border: 1px solid #e3e3e3;
      box-shadow: 0px 0px 3px #b1b1b1;
      margin-top: 60px;

      .sign_up_fields {
        margin-top: 2px;
        height: 40px;
        width:  200px;  
        margin-left: auto;
        margin-right: auto;
      }

      .input_box {
        border-radius: 4px  !IMPORTANT;
      }

      #sign_up_btn {
        width: 150px;
        margin-left: 25px;
        margin-right: auto;
      }
      #log_in_link {
        margin-left: 25px;
      }

      #log_in_chkbox {
        margin-right: auto;
        margin-left: 40px;
      }
    }
  }

  #authorization_section {

    #sign_up_box_container {
      padding-left: 45px;
      padding-right: 45px;
      
      .sign_up_box {

        background-image: url('background2.png');
        border: 1px solid #F7F7F7;
        box-shadow: 0px 0px 3px #5A5A5A;
        padding-top: 10px;
        border-radius: 0px;

        .sign_up_fields {
          margin-top: 2px;
          height: 40px;
          width:  200px;  
          margin-left: auto;
          margin-right: auto;

          .input_box {
            border-radius: 4px  !IMPORTANT;
          }
          #sign_up_btn {
            width: 150px;
            margin-left: 25px;
            margin-right: auto;
            font-weight: bold;
            font-family: Lato;
            font-size: 1.2em;
          }

          #log_in_chkbox {
            margin-right: auto;
            margin-left: 40px;
          }
        }

        .shared_login {
          height: 25px;
          text-align: center;
        }  
      }
    }          
  }
}



body.home-index {
  .job-card{
    height: 150px;
    background-color: blue;
    color: white;
    .glyphicon{
      color: white;
    }
  }
}

/*company create page*/
#company_add_container {

  margin-top: 200px;
  font-family: Lato;

  #create_company_form_holder {

    text-align: center;
    border: 1px solid #b2b2b2;
    background-color: #e7e7e7;

    #company_add_title {
      margin-bottom: 30px;
      margin-top: 10px;

      h4 {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    

    .company_add_elements {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
}




// all jobs page - css

#all_jobs_page {
  /*margin-top: 50px;*/
  min-height: 94vh;
  height: 100%;
  background-image: url('background2.png'); 

  #jobs_container {
    width: 80%;

    #jobs_div {
      margin-top: 65px;
      height: 100%;
      
      .job_card_div {
        padding: 10px;

        .job_card {
          height: 140px;
          background-color: #ffffff;
          padding: 10px;
          max-width: 250px;
          -webkit-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          -moz-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          margin-left: auto;
          margin-right: auto;
          cursor: pointer;

           .btn-group {
             float: right;
             position: relative;
             top: -44px;
             right: -6px;
             padding: 0px;
        

             #gear_button {
               padding: 4px;
               border: 0px;
             }
           }
          
          .job_title {
            font-family: Lato;
            font-size: 1.3em;
            font-weight: bold;
            border-bottom: 1px solid #B0A97B;
            text-align: center;
          }
          
          .updates_section {
            color: #B0A97B;
            font-size: 0.95em;

            .updates {
              display: inline;
            }
          }                   

          #add_job {
            margin: auto;
            font-family: Lato;
            font-size: 1.6em;
            color: #45422D;
            text-align: center;
            margin-top: 45px;

            &:hover {
              color: #B0A97B;
            }

            #plus {
              margin-right: 5px;
            }
          }
          
        }

        #job_card_clickable {
          text-decoration: none;
          color: #000;

          &:hover {
            .job_card {
              box-shadow: 0px 0px 3px #000;
            }
          }           
        }
      }
    }

  }

}



/*navbar CSS*/

#navbar {
  margin-bottom: 0px;

  #header_logo_icon {
    font-size: 2em;
    color: #ff0000;
    display: inherit;
    position: relative;
    top: 10px;
    width: 25px;
  }

  #header_name {
    display: inline;
    font-size: 2em;
    margin-left: 5px;
    font-family: 'Poiret One';
    font-weight: bold;
    margin-left: 42px;
    margin-top: -10px;
    padding-bottom: 35px;
    padding-top: 0px;
    height: 20px;
  }

  #header_sign_out {
    font-size: 1.1em;
    font-family: Lato;
    padding-right: 0px;
    margin-right: 5px;

  }

  #header_links  {
    font-family: Lato;
    cursor: pointer;
  }
}


 /*Job Dashboard Page */

#job_dashboard_page {
  
  height: 92vh;
  // background-image: url('background2.png'); 
  background-color: #a1d4f1;

  #jobs_div {
    margin-top: 10px;

    #job_dashboard_title {
      font-family: Lato;
      font-weight: bold;
      margin-left: 5px;
      text-align: left;
      display: inline;
    }
    // #job_delete_btn {
    //   padding: 1px 6px;
    //   font-size: 0.95em;   
    //   margin-right: 5px;   
    // }

    #job_edit_btn_group {
      margin-right: 5px;
      #job_edit_gear_toggle {
        background: none;
        border: none;
        padding: 0px;
      }
      .dropdown-menu {
        min-width: 125px;
        margin-top: 0px;
      }
    }
  }
  

  #job_dashboard_column_container {
    /*height: 800px;*/
    height: 84vh;
    margin-top: 10px;
    

    .job_dashboard_column_holder {

      padding-left: 5px;
      padding-right: 5px;


      .job_dashboard_column {
         /*height: 800px;*/
        height: 84vh;
        // background-color: #ffffff;              
        -webkit-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        -moz-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        padding-right: 5px; 
        border-radius: 3px;
        background-color: #F4F4F4;
        // background-image: url('background2.png');
        
        h5{
          font-family: Lato;
          font-weight: bold;
          font-size: 1.1em;
        }

        .applicant_card {
            height: 35px;
            width: 100%;
            // background-color: #F5F5F5;
            box-shadow: 0px 0px 2px #121212;
            margin-top: 10px;
            padding: 5px;
            cursor: pointer;
            background-color: #FFFFFF;
            margin-bottom: 15px;

            #add_applicant_link {
              text-decoration: none;
              color: #000;               
            }
           
            .applicant_add {

                  text-align: center;
                  cursor: pointer;
              #add_applicant {
                  font-family: Lato;
                  font-size: 1.2em;
                  font-weight: bold;
                #plus {
                  margin-right: 5px;
                }
              }
            }

        }

        .applicants_container {

          overflow: auto;
          padding-left: 2px; 
          padding-right: 4px;
          padding-bottom: 5px;
          height: 78vh;
          margin-top: -10px;

          .dashboard_column_list {

            padding-bottom: 70px;

            ul {
              padding: 0px;

              li {
              list-style: none;
              }

            }
            
            .applicant_card {
              height: 35px;
              width: 100%;
              // background-color: #F5F5F5;
              // box-shadow: 0px 0px 2px #121212;
              box-shadow: 0px 0px 1px #3D3D3D;

              margin-top: 10px;
              padding: 5px;
              background-color: #FFFFFF;

              

              .applicant_card_name {
                .applicant_name {
                  font-family: Lato; 
                  font-weight: bold;            
                }
              } 
            }
          }          
        }                
      }

      #job_dashboard_column1 {

        .applicants_container {
          height: 71vh;
        }
      }
    }    
  }
}


/*Applicant Modal*/

#modal-dialog {

  width: 700px; 

  #applicant_modal {
    min-height: 200px;
    max-height: 800px; 
    padding-left: 15px;
    padding-right: 15px;   

    .modal-header {

      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 7px;

      .status {
        margin-top: 10px;
        margin-bottom: 10px;
        .status_buttons {
          padding: 1px 5px;
          font-size: 0.8em;
          visibility: hidden;

        }
        .highlight {
          background-color: orange;
          font-weight: bold;
          font-size: 1.2em;
          color: #000;
          visibility: visible;
          float: left;
          border-radius: 3px;

        }
      }
      h4 {
        display: inline;
        font-family: Lato;
        font-size: 1.2em;
      }

      h6{
        display: inline-block;
        font-family: Lato;
        font-size: 0.8em;
      }

      .close {
        margin-top: 3px;
      }

      .delete_applicant {
        display: inline;


        #delete_applicant_button {
          display: inline;
          padding: 1px 4px;  
          margin-right: 10px;
          font-size: 0.95em;
          position: relative;
          top: 15px;
          right: 10px;
        }
      }
    }  

    
    .modal-comment {

      border-top: 1px solid #d2d2d2;

      #comment_entry_div {
        margin-top: 10px;
        margin-bottom: 10px;

        #submit_comment {
          padding: 1px 4px;  
          font-size: 1em; 
        }
      }

      #all_comments {

          height: 400px;
          overflow: auto;
          padding-right: 10px;
          border-top: 1px solid #d2d2d2;
          
        .comment_div {
          padding-bottom: 5px;
          border-bottom: 1px solid #c3c3c3;
          margin-top: 10px;
          p {
            margin: 0px;
          }

          

          .comment_commenter {
            margin-top: 5px;
            font-size: 0.9em;
            font-family: Lato;            
            font-weight: bold;
            display: inline;
          }
          .comment_text {
            word-wrap: break-word;
            font-size: 1em;
            font-family: Lato;
            background-color: #f1f1f1;
            box-shadow: 0px 0px 2px #323232;
            padding-left: 10px;
            padding-right: 10px;
            display: inline;
            width: 90%;
            float: right;
            margin-bottom: 10px;

          }
          .comment_created_time {
            margin-top: 5px;
            font-size: 0.8em;
            font-family: Lato;
            color: grey;
            clear: both;
            width: 20%;
            margin-right: 0px;
            display: inline-block;
          }
          #delete_comment_button {
            padding: 1px 3px;
            display: inline;
            font-size: 0.8em;
            
          }
        }
      }
    }    
  }
}



.dashboard_column_list {
  min-height: 100px;

  .ui-state-highlight {
    height: 40px;
    background-color: #b3b3b3;
  }
}


/*all users page & invitations page- css*/

#all_users_page {
  /*margin-top: 50px;*/
  min-height: 100vh;
  height: 100%;
  background-color: #C7D0CE; 

  #users_container {
    width: 80%;

    #users_div {
      margin-top: 80px;
      height: 100%;
      
      .user_card_div {
        padding: 10px;

        .user_invite_card{
          background-color: #272727;
        }
          #remove_user{
            float: right;
            font-size: 30px;
          }
          #invite_user_link {
            text-decoration: none;          

            #invite_user {
              margin: auto;
              font-family: Lato;
              font-size: 1.6em;
              color: #B0A97B;
              text-align: center;
              margin-top: 45px;
              cursor: pointer;

              &:hover {
                color: white;
              }

              #plus {
                margin-right: 5px;
              }
            }
          }
        .user_card, .user_invite_card {
        height: 140px;
        padding: 5px;
        max-width: 250px;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        -moz-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        margin-left: auto;
        margin-right: auto;
        }
        .user_card{
          background-color: #576E7C;
          a{
            color: rgb(218, 210, 210);
          }
          a:hover{
            color: #2E2F30;
          }

          .user_card_details{
            margin-top: 42px;
            clear: both;
            text-align: center;
            color: white;
            .user_card_name{
              font-size: 16px;
              font-weight:bold;
              font-style: oblique;
            }
          }
          &:hover {
            box-shadow: 0px 0px 3px #000; 
          } 
        }
      }
    }
  }
}

/*Invite colleagues modal styling*/
#invite_colleagues_modal_dialog {
  width: 480px;
  #invite_colleagues_modal_content {
  background-color: #B9C8C5;
    h4{
      font-size: 24px;
    }  
  }
}
 

/*Profile settings styling*/
#user_settings{
  font-size: 15px;
  margin-top: 30px;
  .user_settings_header{
  padding-bottom: 20px;
  border-bottom: 1px solid #A8A0A0;
  margin-bottom: 20px;
  }
  ul{
    list-style-type: none;
    .settings_tag{
    font-style: italic;
    font-weight: bold;
    margin-right: 25px;
    }
    .edit_profile{
      color: blue;
      margin-top: 12px;
      cursor: pointer;
    }     
  }    
}

