#logo_icon {
  color: #ff0000;
  font-size: 3.5em;
  margin-top: 30px;
}

#logo_box {
  height: 180px;
  padding-top: 20px;
  text-align: center;
  
}

#name {
  font-size: 3.5em;
  font-family: 'Poiret One';
  font-weight: bold;
}

#main_caption {
  text-align: center;
  font-family: Lato;
  font-size: 1.2em;
  font-style: italic;
  
}

#caption_text {
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
}

#red_marking {
  color: #ff0000;
}

/*sign up */

#sign_up_box {
  margin-top: 80px;
}
.sign_up_fields {
  margin-top: 2px;
  height: 40px;
  width:  200px;  
  margin-left: auto;
  margin-right: auto;
}

.input_box {
  border-radius: 4px  !IMPORTANT;
}

#sign_up_btn {
  width: 150px;
  margin-left: 25px;
  margin-right: auto;
}
#log_in_link {
  margin-left: 25px;
}

#log_in_chkbox {
  margin-right: auto;
  margin-left: 40px;
}

body.home-index {
  .job-card{
    height: 150px;
    background-color: blue;
    color: white;
    .glyphicon{
      color: white;
    }
  }
}

