#logo_icon {
  color: #ff0000;
  font-size: 3.5em;
  margin-top: 30px;
}

#logo_box {
  height: 180px;
  padding-top: 20px;
  text-align: center;
  
}

#name {
  font-size: 3.5em;
  font-family: 'Poiret One';
  font-weight: bold;
}

#main_caption {
  text-align: center;
  font-family: Lato;
  font-size: 1.2em;
  font-style: italic;
  
}

#caption_text {
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
}

#red_marking {
  color: #ff0000;
}

/*sign up */

#sign_up_box {
  margin-top: 80px;
}
.sign_up_fields {
  margin-top: 2px;
  height: 40px;
  width:  200px;  
  margin-left: auto;
  margin-right: auto;
}

.input_box {
  border-radius: 4px  !IMPORTANT;
}

#sign_up_btn {
  width: 150px;
  margin-left: 25px;
  margin-right: auto;
}
#log_in_link {
  margin-left: 25px;
}

#log_in_chkbox {
  margin-right: auto;
  margin-left: 40px;
}

body.home-index {
  .job-card{
    height: 150px;
    background-color: blue;
    color: white;
    .glyphicon{
      color: white;
    }
  }
}

// all jobs page - css

#all_jobs_page {
  /*margin-top: 50px;*/
  min-height: 100vh;
  height: 100%;
  background-image: url('background2.png'); 

  #jobs_container {
    width: 80%;

    #jobs_div {
      margin-top: 80px;
      height: 100%;
      
      .job_card_div {
        padding: 10px;

        .job_card {
          height: 140px;
          background-color: #ffffff;
          padding: 10px;
          max-width: 250px;
          -webkit-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          -moz-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
          margin-left: auto;
          margin-right: auto;
          
          .job_title {
            font-family: Lato;
            font-size: 1.3em;
            font-weight: bold;
            border-bottom: 1px solid #B0A97B;
            text-align: center;
          }
          
          .updates_section {
            color: #B0A97B;
            font-size: 0.95em;

            .updates {
              display: inline;
            }
          }

          #add_job_link {
            text-decoration: none;          

            #add_job {
              margin: auto;
              font-family: Lato;
              font-size: 1.6em;
              color: #B0A97B;
              text-align: center;
              margin-top: 45px;

              &:hover {
                color: #45422D;
              }

              #plus {
                margin-right: 5px;
              }
            }
          }
        }

        #job_card_clickable {
          text-decoration: none;
          color: #000;

          &:hover {
            .job_card {
              box-shadow: 0px 0px 3px #000;
            }
          }           
        }
      }
    }

  }

}



// navbar CSS

#navbar {
  margin-bottom: 0px;

  #header_logo_icon {
    font-size: 1.5em;
    color: #ff0000;
  }

  #header_name {
    display: inline;
    font-size: 1.4em;
    margin-left: 5px;
    font-family: 'Poiret One';
    font-weight: bold;
  }

  #header_sign_out {
    font-size: 1.1em;
    font-family: Lato;
    padding-right: 0px;
    margin-right: 5px;

  }
}



// Job Dashboard Page 

#job_dashboard_page {
  min-height: 100vh;
  height: 100%;
  background-image: url('background2.png'); 

  #jobs_div {
    margin-top: 10px;

    #job_dashboard_title {
      font-family: Lato;
      font-weight: bold;
      margin-left: 5px;
      text-align: left;
      display: inline;
    }
    #job_delete_btn {
      padding: 1px 6px;
      font-size: 0.95em;   
      margin-right: 5px;   
    }
  }
  

  #job_dashboard_column_container {
    height: 800px;
    margin-top: 10px;
    

    .job_dashboard_column_holder {

      padding-left: 5px;
      padding-right: 5px;


      .job_dashboard_column {
        height: 800px;
        background-color: #ffffff;              
        -webkit-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        -moz-box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        box-shadow: 0px 0px 3px 1px rgba(134, 133, 133, 0.5);
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        
        h5{
          font-family: Lato;
          font-weight: bold;
          font-size: 1.1em;
        }

        .applicant_card {
            height: 60px;
            width: 100%;
            background-color: #F5F5F5;
            box-shadow: 0px 0px 2px #121212;
            margin-top: 10px;
            padding: 5px;
            cursor: pointer;

            #add_applicant_link {
              text-decoration: none;
              color: #000;               
            }
           
            .applicant_add {

                  text-align: center;
                  margin-top: 15px;
              #add_applicant {
                  font-family: Lato;
                  font-size: 1.2em;
                  font-weight: bold;
                #plus {
                  margin-right: 5px;
                }
              }
            }

        }

        .dashboard_column_list {

          ul {
            padding: 0px;

            li {
            list-style: none;
            }

          }
          
          .applicant_card {
            height: 60px;
            width: 100%;
            background-color: #F5F5F5;
            box-shadow: 0px 0px 2px #121212;
            margin-top: 10px;
            padding: 5px;

            

            .applicant_card_name {
              .applicant_name {
                font-family: Lato; 
                font-weight: bold;            
              }
            } 
          }
        }        
      }
    }    
  }
}


// Applicant Modal

#modal-dialog {

  width: 700px; 

  #applicant_modal {
    min-height: 200px;
    max-height: 800px; 
    padding-left: 15px;
    padding-right: 15px;   

    .modal-header {

      padding-left: 0px;
      padding-right: 0px;

      h4 {
        display: inline;
        font-family: Lato;
        font-size: 1.2em;
      }

      h6{
        display: inline-block;
        font-family: Lato;
        font-size: 0.8em;
      }

      .close {
        margin-top: 3px;
      }

      .delete_applicant {
        display: inline;


        #delete_applicant_button {
          display: inline;
          padding: 1px 4px;  
          margin-right: 10px;
          font-size: 0.95em;
          position: relative;
          top: -20px;
          right: 10px;
        }
      }
    }

    .status {
      margin-top: 10px;
      margin-bottom: 10px;
      .status_buttons {
        padding: 1px 5px;
        font-size: 0.8em;

      }

      .current_status {
        font-size: 1em;
        background-color: orange; 
        font-weight: bold;
      }
    }
    .modal-comment {

      border-top: 1px solid #d2d2d2;

      #comment_entry_div {
        margin-top: 10px;
        margin-bottom: 10px;

        #submit_comment {
          padding: 1px 4px;  
          font-size: 1em; 
        }
      }

      #all_comments {

          height: 400px;
          overflow: scroll;
          padding-right: 10px;
          border-top: 1px solid #d2d2d2;
          
        .comment_div {
          padding-bottom: 5px;
          border-bottom: 1px solid #c3c3c3;
          margin-top: 10px;
          p {
            margin: 0px;
          }

          

          .comment_commenter {
            margin-top: 5px;
            font-size: 0.9em;
            font-family: Lato;            
            font-weight: bold;
            display: inline;
          }
          .comment_text {
            word-wrap: break-word;
            font-size: 1em;
            font-family: Lato;
            background-color: #f1f1f1;
            box-shadow: 0px 0px 2px #323232;
            padding-left: 10px;
            padding-right: 10px;
            display: inline;
            width: 90%;
            float: right;

          }
          .comment_created_time {
            margin-top: 5px;
            font-size: 0.8em;
            font-family: Lato;
            color: grey;
          }
        }
      }
    }    
  }
}




