<div class = "applicant_file_boxes">
  <p class = "applicantfile_text"> </p> <%= link_to  "#{applicantfile.file.filename}", applicantfile.file_url, class: "file_download", target: "blank" %>  
</div>
