<% if activity.fromstatus == 0 %>
  <p>Card was created at <span style= "font-weight:bold; font-style:italic">  <%= local_time(activity.created_at, '%l:%M%P, %b %e, %Y') %> </span></p>
<% else %>
  <p>This card was moved from <span style= "font-weight:bold; font-style:italic">  <%= function(activity.fromstatus) %> </span> to <span style= "font-weight:bold; font-style:italic"> <%= function(activity.tostatus) %> </span> </p>
<% end %>